:root {
  --color-primary: rgba(0,0,0,0);

  --font-size-2sm: 0.625rem;
  --font-size-sm: 0.75rem;
  --font-size-md: 1rem;
  --font-size-md-m: 0.9rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 1.75rem;

  --spacing: 8px;
  --spacing-2x: 16px;
  --spacing-4x: 32px;
  --spacing-8x: 64px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html,
body {
  font-family: 'Roboto Mono';
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.3;
  list-style-type: none;
}

h1 {
  font-weight: 900;
  font-size: var(--font-size-2xl);
  font-family: 'Merriweather';
  line-height: 1.6;
  letter-spacing: 2px;
}

h2 {
  font-weight: 700;
  font-size: var(--font-size-xl);
  font-family: 'Merriweather';
  line-height: 1.6;
  letter-spacing: 2px;
}

p, li {
  font-size: var(--font-size-md);
  line-height: 1.50;
  text-align: justify;
  text-justify: inter-word;
}

pre {
  border: 1px solid black;
}

article code {
  color: #24292e !important;
  padding: 0 4px;

  /* text-wrap: wrap; */
}

code {
  font-size: var(--font-size-md);
}

li {
  list-style-type: none;
}

.description > p {
  text-align: left;
}

#cube-container {
  margin: 0 auto;
  margin-left: 0;
}

[data-rehype-pretty-code-title] {
  color: var(--color-white);
  padding: var(--spacing);
}
[data-rehype-pretty-code-figure] code {
  color: var(--color-white);
  padding: var(--spacing);
  font-size: var(--font-size-md-m);
  overflow-x: auto;
  background-color: var(--color-white);
  border: 1px solid var(--color-primary);
  border-radius: var(--border-radius);
  margin: var(--spacing) 0;
  white-space: pre-wrap;
  text-wrap: nowrap;
}

code {
  counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}

code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
}

[data-rehype-pretty-code-title] {
  background-color: #000000;
  color: #eee;
  text-align: center;
}