---
import { getCollection } from 'astro:content';

import Layout from "../layout/Layout.astro";
import Link from "../components/Link.astro";
import { SITE } from "../config";

const posts = await getCollection('blog', ({ data }) => !data.draft);
---

<Layout>
  <h1>{SITE.author}</h1>
  <section class="description">
    <p>{SITE.description}</p>
  </section>
  <section class="posts">
    <h2>posts.</h2>
    <ul>
        {posts
          .sort(
            (a, b) =>
              Math.floor(b.data.pubDate / 1000) -
              Math.floor(a.data.pubDate / 1000)
          ).slice(0, 5).map(post => (
            <li>
              <p>
                {post.data.pubDate.toISOString().split('T')[0]}
              </p>
              <Link href={post.slug}>
                <p class="post-title
                ">
                  {post.data.title}
                </p>
              </Link>
            </li>
          ))}
    </ul>

    <Link href="/blog">
      <p class="see-all-articles">See all posts</p>
    </Link>
  </section>
</Layout>


<style>
  .posts ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
  }

  .posts ul li {
    display: flex;
    justify-content: space-between;
    column-gap: var(--spacing-8x);
  }

  .posts :global(a) {
    flex: 1;
  }

  .see-all-articles {
    margin-top: var(--spacing-2x);
    text-decoration: underline;
  }
</style>

