:root {
    --primary-color: white;    
}
[data-theme="dark"] {
    --primary-color: grey;    
}
body {
    background: var(--primary-color);
    transition: background 0.5s;
}

.ownName {
    font-size: 20px;
    padding-bottom: 10px;
}


.bold {
    font-weight: bold;
}

.profilePic {
    border-radius: 10px;
}

.navHr {
    border-bottom: 1px solid rgb(189, 184, 184);
}

#ownInfo {
    padding-top: 10px;
}

.works {
    padding-top: 10px;
}

.centralizar {
    text-align: center;
}

.geralInfo {
    padding-top: 25px;
}

#profileImg {
    padding-top: 40px;
}

.rodape {
    background-color: rgba(39, 85, 155, 0.253);
    color: black;
    font-weight: bold;
}

.ativo {
    text-decoration: underline !important;
    text-decoration-color: gray !important;
    text-decoration-thickness: 2px !important;
}

.artigosLink {
    font-size: 18px;
}

/*DarkMode*/
.bodyDark {
    background-color: #202124;
    transition: background 0.5s;
} 

.bodyLight {
    background-color: white !important;
    transition: background 0.5s;
}


.portfolioDark {
    color: white !important;
    transition: background 0.5s;
    
}

.portfolioLight {
    color: black !important;
    transition: background 0.5s;
}


.homeDark {
    color: white !important;
    transition: background 0.5s;
}

.homeLight {
    color: black !important;
    transition: background 0.5s;
}

.ownNameDark {
    color: white !important;
    transition: background 0.5s;
}

.ownNameLight {
    color: black !important;
    transition: background 0.5s;
}

.pDark {
    color: white !important;
    transition: background 0.5s;
}

.pLight {
    color: black !important;
    transition: background 0.5s;
}

.ownInfoItemsDark {
    color: white;
    transition: background 0.5s;
}

.ownInfoItemsLight {
    color: black;
    transition: background 0.5s;
}

.cardThemeDark {
    background-color: black;
    transition: background 0.5s;
}

.cardThemeLight {
    background-color: white;
    transition: background 0.5s;
}


.projetosLight {
    color: black !important;
    transition: background 0.5s;
}

.projetosDark {
    color: white;
    transition: background 0.5s;
}

.hrDark {
    border-color: white;
}

.hrLight {
    border-color: none;
}

#portfolioTheme {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: white;
    transition: background 0.5s;
}

.switchBar {
    /*border-right: 2px solid purple;*/
    margin-right: 5px;
    
}


/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    .responsiveImg {
        width: 90px;
    }
 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    .responsiveImg {
        width: 150px;
    }
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 

 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

 }