:root {
    --primary-color: white;    
}
[data-theme="dark"] {
    --primary-color: grey;    
}
body {
    background: var(--primary-color);
    transition: background 0.5s ;
    overflow-x: hidden;
    width: 100%;
}

.ownName {
    font-size: 20px;
    padding-bottom: 10px;
}

#reponsiveScrollbar {
    padding-left: 10px;
    padding-right: 10px;
}

.bold {
    font-weight: bold;
}

.profilePic {
    border-radius: 10px;
}

.navHr {
    border-bottom: 1px solid rgb(189, 184, 184);
}

#ownInfo {
    padding-top: 10px;
}

.works {
    padding-top: 10px;
}

.centralizar {
    text-align: center;
}

.geralInfo {
    padding-top: 25px;
}

#profileImg {
    padding-top: 40px;
}

.rodape {
    background-color: rgba(39, 85, 155, 0.253);
    color: black;
    font-weight: bold;
}

.ativo {
    text-decoration: underline !important;
    text-decoration-color: gray !important;
    text-decoration-thickness: 2px !important;
}

.sumario-desc {
    list-style-type: none;
}

#articleLink {
    font-size: 18px;
}

/*DarkMode*/
.bodyDark {
    background-color: #202124;
    transition: background 0.5s;
} 

.bodyLight {
    background-color: white !important;
    transition: background 0.5s;
}


.portfolioDark {
    color: white !important;
    transition: background 0.5s;
    
}

.portfolioLight {
    color: black !important;
    transition: background 0.5s;
}


.homeDark {
    color: white !important;
    transition: background 0.5s;
}

.homeLight {
    color: black !important;
    transition: background 0.5s;
}

.ownNameDark {
    color: white !important;
    transition: background 0.5s;
}

.ownNameLight {
    color: black !important;
    transition: background 0.5s;
}

.pDark {
    color: white !important;
    transition: background 0.5s;
}

.pLight {
    color: black !important;
    transition: background 0.5s;
}

.ownInfoItemsDark {
    color: white;
    transition: background 0.5s;
}

.ownInfoItemsLight {
    color: black;
    transition: background 0.5s;
}

.cardThemeDark {
    background-color: black;
    transition: background 0.5s;
}

.navia {
    font-size: 18px;
    border-bottom:2px solid gray ;
    margin: 5px;
}

.cardThemeLight {
    background-color: white;
    transition: background 0.5s;
}


.projetosLight {
    color: black !important;
    transition: background 0.5s;
}

.projetosDark {
    color: white;
    transition: background 0.5s;
}

.hrDark {
    border-color: white;
}

.hrLight {
    border-color: none;
}

#portfolioTheme {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: white;
    transition: background 0.5s;
}

.switchBar {
    /*border-right: 2px solid purple;*/
    margin-right: 5px;
    
}

.scroll {
    color: #fff;
    margin-top: 100px
}

#toTopBtn {
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 98;
    padding: 21px;
    background-color: hsla(5, 76%, 62%, .8)
}

.js .cd-top--fade-out {
    opacity: .5
}

.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1
}

.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
    background-color: hsla(5, 76%, 62%, .8);
    background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
}

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    body {
        overflow-x: hidden;
    }
    
    .responsiveImg {
        width: 90px;
    }

    .center {
       text-align: center; 
    }
 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    body {
        overflow-x: hidden;
    }
    
    .responsiveImg {
        width: 150px;
    }

    .center {
        text-align: center;
    }

 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 

 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 

 }