---
interface Props {
  href: string;
  isExternal?: boolean;
}

const { href, isExternal = false } = Astro.props;

const externalProps = isExternal
  ? { target: '_blank', rel: 'noreferrer noopener' }
  : {};
---
<a {...externalProps} href={href}><slot /></a>
<style>
  a {
    color: inherit;
    cursor: pointer;
    padding: 0;
    margin: 0;
    text-decoration: underline;
  }

  a:hover {
    color: #000000b4;
}
</style>